<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/authors">Authors</a></li>
	        		<li><a href="/recipes">Recipes</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:datasciencecookbook@gmail.com">email</a></li>
	        		<li><a href="https://github.com/datasciencecookbook">github.com/datasciencecookbook</a></li>
				<li><a href="https://datasciencecookbook.info">datasciencecookbook.info</a></li>
				</ul>
			</footer>
		</body>
	</html>
